* {
  font-family: 'Quantico', sans-serif;
  box-sizing: border-box;
}


body {

  margin: 0;

  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/IMG_3730.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/IMG_3730.jpg');
  min-height: 500px;
  background-attachment: fixed;
  /* centrar e escalar imagem */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divNomes > p{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #eee;
  flex-direction: row;
}


table {

  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: linear-gradient(rgba(116, 116, 116, 0.5), rgba(116, 116, 116, 0.5));
}
td {
  width: 50%;
  color: white;
  text-align: center;
}

table, th, td {
  border: 3px solid rgb(255, 255, 255);
  border-collapse: collapse;
  color: #eee;
  padding: 16px;
}

.divContactos {
  width: 300px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-bottom: 80px;
  margin: -150px 0 0 -150px;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  background: linear-gradient(rgba(116, 116, 116, 0.5), rgba(116, 116, 116, 0.5));
  border-radius: 3px;
  border: 15px solid rgb(255, 140, 0);
  padding: 50px;
  border-radius: 10px;
}

.divPlayground {
  display: sticky;
  flex-direction: column;
  width: 80%;
  height: 80%;
  justify-content: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  position: absolute;
  border: 1px solid black;
  background: linear-gradient(rgba(116, 116, 116, 0.5), rgba(116, 116, 116, 0.5));
  border: 15px solid rgb(255, 140, 0);
  border-radius: 10px;
}

.divProjetos {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 45%;
  height: 55%;
  margin: 0%;
  transform: translate(-50%, -30%);
  position: absolute;
  border: 1px solid black;
  background: linear-gradient(rgba(116, 116, 116, 0.5), rgba(116, 116, 116, 0.5));
  border: 15px solid rgb(255, 140, 0);
  border-radius: 10px;
}

.divProjetos2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 45%;
  height: 55%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  position: absolute;
  border: 1px solid black;
  background: linear-gradient(rgba(116, 116, 116, 0.5), rgba(116, 116, 116, 0.5));
  border: 15px solid rgb(255, 140, 0);
  border-radius: 10px;
}

.divProjetos img {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin-top: 100px;
  margin-left: 80px;
  justify-content: center;
  padding: 15px;
  width: 30%;
  height: 50%;
}

.divProjetos h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 15px;
  color: #eee;
}

.divProjetos p {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 5px;
  color: #eee;
}


.divPlayground h1 {
  color: #eee;
  text-align: center;
  margin-top: 13%;
}

.fade-in-text > h1 {
  color: #eee;
  text-align: center;
  margin-top: 13%;
}

.resultadoConta {
  text-align: center;
  color: #eee;
}

.nomes{
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #eee;
}

.resultadoNome {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #eee;
}

.divData {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #eee;
}

.calculadora {
  display: flex;
  justify-content: center;
}

.displayNome {
  display: flex;
  justify-content: center;
}


.navbar {
  overflow: hidden;
  background-color: #333333;
}

.divFooter {
  background-color: #333333;
  color: #ffffff;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.darkmode {
  float: right;
  overflow: hidden;
}

.darkmode .dmbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.darkmode:hover .dmbtn {
  background-color: rgb(255, 140, 0);
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(255, 140, 0);
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;

  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(255, 140, 0);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(255, 140, 0);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.fade-in-text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.hero {

  width: 98vw;
  height: 98vh;


  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;


}

.hero h1 {

  font-size: 5em;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0.5em;
}


.hero .btn {

  display: block;
  width: 200px;

  padding: 0.5em;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  color: rgba(247, 248, 248, 0.678);
  text-decoration: none;
  font-size: 1.5em;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-color: rgba(165, 128, 238, 0);

  transition: 0.3s;

  border: 1px solid rgb(255, 140, 0);
  border-radius: 20px;
}

.hero .btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.hero .btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-weight: bold;
}

.hero .btn:hover span {
  padding-right: 25px;
  font-weight: bold;
}

.hero .btn:hover span:after {
  opacity: 1;
  right: 0;
}

.hero a:hover {
  opacity: 1;
  background-color: rgb(255, 140, 0);

}


footer {
  position: fixed;
  text-align: center;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background-color: #333333;
  color: #eee;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }

  100% {
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box;
}



/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.content img{
  justify-content: center;
  width: 25%;
  height: 25%;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}